body {
    margin: 1.5rem;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 0.5rem;
    transition: background-color 0.8s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &.active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

canvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2 {
    margin: 0;
}

//#region Shapes [most made by Temani Afif (https://css-shape.com/)]
.circle {
    border-radius: 50%;
}

.triangle {
    --b: 2px;

    position: relative;
    background-color: black;
    clip-path: polygon(
        50% 0,
        100% 100%,
        0 100%
    );

    &::before {
        content: '';
        position: absolute;
        top: var(--b);
        left: var(--b);
        right: var(--b);
        bottom: var(--b);
        background: white;
        clip-path: polygon(
            50% 0,
            100% 100%,
            0 100%
        );
        transition: background-color 0.8s;
    }

    &:hover {
        &::before {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}

.rectangle {
    min-height: 100px !important;
}

.rhombus {
    min-width: 100px !important;
    min-height: 100px !important;
    transform: rotate(45deg);
}

.hexagon {
    --b: 1px;

    position: relative;
    background: black;
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%,
        0% 50%,
        25% var(--b),
        75% var(--b),
        100% 50%,
        75% calc(100% - var(--b)),
        25% calc(100% - var(--b))
    );

    &::before {
        content: '';
        position: absolute;
        inset: var(--b);
        background: white;
        clip-path: polygon(
            25% 0%,
            75% 0%,
            100% 50%,
            75% 100%,
            25% 100%,
            0% 50%
        );
        transition: background-color 0.8s;
    }

    &:hover {
        &::before {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}

.octagon {
    position: relative;
    background: black;
    clip-path: polygon(
        30% 0%, 70% 0%,
        100% 30%, 100% 70%,
        70% 100%, 30% 100%,
        0% 70%, 0% 30%
    );

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: white;
        clip-path: polygon(
            30% 0%, 70% 0%,
            100% 30%, 100% 70%,
            70% 100%, 30% 100%,
            0% 70%, 0% 30%
        );
        transform: scale(0.98);
        transition: background-color 0.8s;
    }

    &:hover {
        &::before {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}

//#endregion

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.button-icon {
    position: relative;
    display: block;
    border: none;
    font-size: 1.5rem;
    transition: color 0.8s;

    &:hover {
        background-color: unset;
        color: rgba(0, 0, 0, 0.4);
    }
}

.button-icon-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0.1rem;
    right: 0;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 0.7rem;
    width: 1rem;
    height: 1rem;
}

.hotbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.hotbar-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.swiper {
    z-index: 0;
    border: 2px solid black;
    padding: 2rem;
    margin-bottom: 1rem;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    font-size: 4rem;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        font-size: medium;

        .rhombus + span {
            transform: translateY(0.9rem);
        }
    }

    > span {
        flex: 1;
        height: 100%;
        padding-bottom: 3.3rem;
        border-bottom: 2px solid black;
    }
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.shop-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 10rem;
    height: 14rem;

    .rhombus + span {
        transform: translateY(0.9rem);
    }
}

.shape {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 128px;
    min-height: 128px;
    border: 2px solid black;
    box-sizing: border-box;
    transition: background-color 0.8s;

    &:not(.triangle):not(.hexagon):not(.octagon) {
        background-color: white;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &.cloned {
        position: absolute;
        transition: all 0.8s;
    }
}

.shopping-cart {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: white;
    height: 100%;
    border: 2px solid black;
    padding: 1rem;
    box-sizing: border-box;
    transition: right 0.5s;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 105%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        gap: 2rem;
        margin: 1rem 0;

        &::-webkit-scrollbar {
            width: 0.9rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 8px;
            border: 3px solid transparent;
            background-clip: content-box;
        }

        &::-webkit-scrollbar-button {
            display: none;
            width: 0;
            height: 0;
        }

        div {
            position: relative;

            span:last-of-type {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    h2 {
        border-bottom: 2px solid black;
        padding-bottom: 1rem;
    }

    button {
        width: 100%;

        &:first-of-type {
            height: 1.5rem;
            border-radius: 0;
        }
    }

    &.active {
        right: 0;
    }
}

.shopping-cart-extra {
    cursor: pointer;
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.8s;

    &.active {
        pointer-events: all;
        opacity: 0.5;
    }
}

.animation-buy-items {
    animation: buyItems 0.8s;
}

@keyframes buyItems {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(110%);
    }
}